# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ISEP 2 semestre\lei20_21_s4_2dl_4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
